#setuptools distribution folders
/build
/dist

#python metadata 
/*.egg
/*.egg-info

#compiled python modules/cython precompiled
*.pyc
*.so
*.pyd
*.c
*.dll


#temporary files
*~
/develop_tmp
/cross-check-gslib
.spyderworkspace
.spyderproject
.pytest_cache

#Ipython check points
/.ipynb_checkpoints

#spyder project
.spyderproject
.spyderworkspace

#geany
*.geany

#mac files
.DS_Store
.DS_Store?
